<div class="top-border">
  <div class="red-side"></div>
  <div class="gray-side"></div>
</div>
<section class="featured-section">
  <article class="featured-article">
    <%= render 'featured_article' %>
  </article>
</section>
<section class="categories-section">
  <%# <%= render 'categories' %1> %>
</section>
