<div class="form-container">
  <h1 class="form-title">Registration</h1>
  <%= simple_form_for(@user) do |f| %>
    <div class="form-field">
      <%= f.input :name, required: true, autofocus: true, wrapper: false, label: 'Name:', input_html: { class: "input" }, label_html: { class: "label"}, placeholder: 'Enter your name...' %>
    </div>
    <div class="form-button">
      <%= f.button :submit, 'Register', class: 'btn' %>
    </div>
  <% end %> 
</div>
