@import 'variables';

.show {
  width: 700px;
  margin: auto;
  margin-bottom: 4rem;

  .show-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 4rem;
    font-family: $title-font;
    color: $dark-gray;
  }

  .show-img-container {
    width: 100%;
    margin-bottom: 4rem;
    img {
      width: 100%;
    }
  }

  .category-link {
    border: 2px solid $orange;
    border-radius: 5px;
    color: $orange;
    padding: 0.25rem;
    transition: all 0.3s ease-out;

    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }

  .show-text {
    line-height: 1.75;
    margin: 3rem 0;
  }
}
