@import 'variables';

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);

  .logo {
    font-family: $logo-font;
    font-size: 4.5rem;
    font-weight: 400;
    color: $dark-gray;

    span {
      color: $orange;
    }

    img {
      width: 3rem;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 390px;

    li {
      .nav-link {
        color: $soft-gray;

        &:hover {
          color: $orange;
        }
      }
    }
  }

  .user-credentials {
    width: 40rem;
    text-align: end;
    .credential-item {
      color: $soft-gray;

      &:hover {
        color: $orange;
      }
    }
  }

  .user-controls {
    width: 40rem;
    display: flex;
    justify-content: end;

    .control-item {
      color: $soft-gray;
    }

    .user-actions {
      margin-left: 4rem;
      .new-article:hover,
      .logout:hover {
        color: $orange;
      }
    }
  }
}
