$dark-gray: #4b4b4b;
$soft-gray: #8e8e8e;
$orange: #fd6000;
$background: #4e443e;
$yellow: #f3e622;
$logo-font: 'Coming Soon', cursive;
$main-font: 'Montserrat', sans-serif;
$title-font: 'Open Sans Condensed', sans-serif;
