  <div class="footer-logo">ch<span>EF</span>'s <span>AT</span>tic<img class="logo-img" src="https://image.flaticon.com/icons/png/512/16/16707.png" alt="Chef's Hat"></div>
  <ul class="legal">
    <li><a href="#" class="legal-links">Privacy</a></li>
    <li><a href="#" class="legal-links">Policy</a></li>
    <li><a href="#" class="legal-links">Terms & Conditions</a></li>
    <li class="copyright">Copyright 2021. All rights reserved.</li>
  </ul>
  <ul class="media">
    <li class="connect"> Connect with us:</li>
    <li><a href="https://github.com/jadx2" class="media-links" target="_blank"><i class="fab fa-github-square"></i></a></li>
    <li><a href="https://twitter.com/thecatcodes" class="media-links" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
    <li><a href="https://www.linkedin.com/in/jaimdelmar/" class="media-links" target="_blank"><i class="fab fa-linkedin"></i></a></li>
  </ul>
