<div class="user-credentials">
  <%= link_to 'REGISTER', new_user_path, class: 'credential-item' %>
  <span class='credential-item'>|</span>
  <%= link_to 'LOGIN', login_path, class: 'credential-item'  %>
</div>
